.footer{
  margin: 0 0 40px 0;
  @media (max-width:$md1) {
    margin: 0 0 30px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 20px 0;
  }
}
.footer-body {
  @include flexbox ();
  justify-content:space-between;
  align-items:center;
  @media (max-width:$md2) {
    flex-direction: column;
  }
}
.footer-body-column {
  @media (max-width:$md2) {
    //To change order in different browsers (order:1; order:2;)
    &:first-child{
      @include flexorder(2);
    }
     &:last-child{
      @include flexorder(1);
    }
  }
}
.footer-body__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
    a {
      text-decoration: underline;
      color: #4d4d4d;
        &:hover {text-decoration: none;}
    }
  @media (max-width:$md1) {
    font-size: 14px;
    line-height: 23px;
  }
  @media (max-width:$md2) {
    font-size: 13px;
    line-height: 21px;
  }
}
.footer-body-logo {
  display: inline-block;
  padding: 0 3px 0 0;
  @media (max-width:$md2) {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
  }
}
.footer-body-logo__img {
  max-width: 150px;
  @media (max-width:$md1) {
    max-width: 130px;
  } 
  @media (max-width:$md2) {
    max-width: 110px;
  } 
}