.header{
	padding: 25px 0 24px 0;
	//<FIXED header>
	position: fixed;
	top:0;
	left:0;
	z-index: 50;
	background-color: #fff;
	width:100%;
 	@media (max-width: $md1) {
    	padding: 15px 0 15px 0;
	}
}
//==================================================================
.header-top {	
	@include flexbox ();
	justify-content: space-between;
	@media (max-width: $md2) {
		justify-content: flex-end;
	}
}
.header-top-lang {}
.header-top-lang__link {
	color: #000000;
	font-family: Bebas ;
	font-size: 13px;
	letter-spacing: 1;
	line-height: 25px;
	text-transform: uppercase; 
	padding: 2px 4px 3px 4px;
	margin: 0 12px 0 0;
	&:last-child {
		margin: 0 0 0 0;
	}
	&.active {
		background-color: #000; color: #fff;
		@include anim(0.8s, 0s); 
	}
	@media (max-width: $md2) {
		padding: 0 0 0 0;
	}
}
.header-top__link {
	color: #000000;
	font-family: "AkzidenzGroteskBQ-BdCnd";
	font-size: 15px;
	line-height: 25px; 
	text-transform: uppercase;
	text-decoration: underline;
	&:hover {@include anim(0.8s, 0s);}
	&:active {position: relative;top: 3px;}
	@media (max-width: $md2) {
		font-size: 13px;
		//<Show over the adaptive menu>
		position: relative;
		z-index: 5;
	}
	@media (max-width: $md3) {
		font-size: 11px;
	}
}
//==================================================================
.header-bottom {
	@include flexbox ();
	align-items: center;
	margin: -24px 0 0 0;
	@media (max-width:$md1) {
		margin: -30px 0 0 0;
	}
	@media (max-width:$md2) {
		margin: -40px 0 0 0;
	}
}
.header-bottom-column {
	flex: 0 0 33.333%;	
}
.header-bottom-menu {}
.header-bottom-menu-list {
	@include flexbox ();
	&--right{
		justify-content:flex-end;
	}
	li {
		margin: 0 45px 0 0;
		@media (max-width: $md1) {
			margin: 0 20px 0 0;
		}
		&:last-child {
			margin: 0 0 0 0;
		}
	}
	@media (max-width:$md2) {
		////<For adaptive menu>
		display: block;
	}
}
.header-bottom-menu__link {
	color: #000000;
	font-family: "AkzidenzGroteskBQ-BdCnd";
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@include anim(0.8s, 0s);
	position: relative;
	//Line from center
	&:after{
		content: ''; 
		position: absolute; 
		left:50%; 
		width: 0; 
		height: 2px; 
		background-color: #545353; 
		bottom: 0; 
		@include anim(0.8s, 0s);}
	&:hover {
		//color:#58545B;
		&:after{
			left: 0;
			width: 100%;
		} 		
	} 
}	
.header-bottom-logo {
	display: block;
	text-align: center;
	@media (max-width: $md2) {
		//<Show over the adaptive menu>
		position: relative;
		z-index: 5;
	}	
} 
.header-bottom-logo__text {
	display: block; 
	color: #000000;
	font-family: Bebas;
	font-size: 10px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 8px;
	&:first-child {
		letter-spacing: 5px;
	}
	@media (max-width: $md2) {
		line-height: 15px;
	}
	@media (max-width: $md3) {
		font-size: 8px;
	}
}
.header-bottom-logo__img {
	display: inline-block;
	padding: 5px 0 16px 0;
	@media (max-width: $md2) {
		padding: 0px 0 5px 0;
		img{
			width: 170px;
		}
	}
	@media (max-width: $md3) {
		img{
			width: 120px;}
	}
}
//==================================================================
//<ADAPTIVE (burger)>
.header-menu__icon {
	display: none;
	@media (max-width:$md2) {
		display: block;
		position: absolute;
		top: 18px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index:5;
			span {
				top:8px;
				left:0px;
				position:absolute;
				width: 100%;
				height: 2px;
				background-color: #000;
					&:first-child {top:0px;}
					&:last-child {top: auto; bottom: 0px;}
				@include anim (0.3s,0s); 
			}	
		&.active {
			span{
			//Hide middle line in the burger
			@include scale (0);
			//Change lines to cross in the burger
	 		&:first-child {@include rotate(-45deg);top:8px;}
	 		&:last-child {@include rotate(45deg);bottom:8px;}
	 		}
		}
	}	
}
.header-menu{
	@media (max-width:$md2) {
		position: fixed;
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		padding: 75px 10px 0px 10px;
		top: 0;
		//To see all elements
		overflow: auto;
		//To hide menu
		left: -120%;
		//To show menu (via js)
		&.active {
			left: 0;
		}
		@include anim (0.6s,0s); 
	}
	@media (max-width: $md3) {
		padding: 65px 10px 0px 10px;
	}
}
